/* =============
    Base
============= */
body{
    background-color: $bgyellow;

    ul{
        margin: 0;
        padding: 0;
    
        li{
            list-style: none;
        }
    }
}

body {
    background: linear-gradient(to bottom,
    desaturate(lighten(#f8dc03, 20%), 50%),
    desaturate(lighten(#ee23a4, 30%), 50%),
    desaturate(lighten(#0a3717, 30%), 50%)
    );
  }