/* =============
    Base
============= */
body{
    background-color: $bgyellow;

    ul{
        margin: 0;
        padding: 0;
    
        li{
            list-style: none;
        }
    }
    
    background-color: linear-gradient(to bottom,
    desaturate(lighten(#db38b5, 30%), 30%),
    desaturate(lighten(#01b3e3, 30%), 30%),
    desaturate(lighten(#25ce7b, 30%), 30%),
    desaturate(lighten(#fdc741, 30%), 30%),
    desaturate(lighten(#ff6b01, 30%), 30%),
    desaturate(lighten(#fc4236, 30%), 30%)
);
}