/* =============
    Hero 
============= */
#hero{
    background-image: url('../img/hero/palette.jpg');
    background-position: center;
    background-size: cover;
    height: 360px;

    @include md {
        height: 683px;
    }
}
