/* =============
    Hero 2
============= */
#hero-2{
    // display: grid;
    // grid-template-columns: 16px auto 16px;
    // grid-template-areas: ". hero-2 .";

    @include xl{
        grid-template-columns: auto 1200px auto;
    }
    height: 90vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    >div {
        text-align: center;
        color: $pink;

        h1 {
            font-family: 'Bebas Neue';
            font-size: 70px;
            // margin-right: 400px;
            // margin-left: 35px;
            @include md {
                font-size:120px;
            }
        }


        h2 {
            font-family: 'Bebas Neue';
            font-size: 40px;
            line-height: 20px;
            // margin-right: 400px;
            // margin-left: 40px;
            @include md {
                font-size:80px;
                line-height: 20px;
            }
    }

//     aside {
//         background-image: url("../img/hero-2/pottery-wheel.jpg");
//         background-position: center;
//         background-size: cover;
//         // height: 380px;

//         // @include md {
//         //     height: 476px;
//         // }

//         // @include lg {
//         //     height: auto;
//         // }
//     }
// }
//     img{
//         grid-area: hero-2;
//         width: 100%;
//     }
    }

    #bg-img{
        background-image: url("../img/hero-2/pottery-wheel.jpg");
        background-size: cover;
        background-position: bottom;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        // clip-path: inset(0%);
    }

}


// #hero-2{
//     height: 90vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: relative;

//     @include md{
//         height: 80vh;
//     }

//     @include lg{
//         height: 70vh;

//     }
//     >div{
//         text-align: center;
//         color: $pink;

//         h1{
//             font-family: 'Bebas Neue'; 
//             font-weight: 400;
//             font-size: rem-calc(80);
//         }
//     }
//     #bg-img{
//         background-image: url("../img/hero-2/pottery-wheel.jpg");
//         background-size: contain;
//         background-position: bottom;
//         // height: 50%;
//         // width: 50%;
//         position: absolute;
//     }
// }