#hero{
    background-image: url("../img/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    #overlay{
        background-color: rgba(var(--blackO), 0.50);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


        section{

            h1{
                color: var(--white);
                font-family: 'Bebas Neue';
                font-weight: 400;
                font-size: rem-calc(40)
            }

            h4{
                color: var(--white);
                font-family: 'Bebas Neue';
                font-weight: 400;
                font-size: rem-calc(40)

            }
            button{
                border: none;
                background-color: var(--yellow);
                padding: 20px 30px;
                font-size: rem-calc(25);
            }
        }
    }
}