/* =============
    Hero 2
============= */
#hero-2{
    
    @include xl{
        grid-template-columns: auto 1200px auto;
    }
    height: 90vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    >div {
        text-align: center;
        color: $darkgreen;

        h1 {
            font-family: 'Bebas Neue';
            font-size: 70px;
           
            @include md {
                font-size:120px;
            }
        }


        h2 {
            font-family: 'Bebas Neue';
            font-size: 40px;
            line-height: 20px;

            @include md {
                font-size:80px;
                line-height: 20px;
            }
        }
    }
    #bg-img{
        background-image: url("../img/hero-2/pottery-wheel.jpg");
        background-size: cover;
        background-position: bottom;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }

}