/* =============
    Skynet
============= */
#skynet{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". skynet .";
    @include md {
        padding: 54px 0;
    }

    @include lg {
        padding: 100px 0;
    }

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        grid-area: skynet;

        ul {
            display: grid;
            grid-area: section-5;
            grid-gap: 20px;
            grid-template-areas: "gallery-7"
                "gallery-1"
                "gallery-1"
                "gallery-6"
                "gallery-3";
            grid-template-rows: repeat(5, 235px);
    
            @include md {
                grid-template-areas: "gallery-1 gallery-3"
                    "gallery-1 gallery-7"
                    "gallery-5 gallery-6";
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 277px);
            }
    
            @include lg {
                grid-template-areas: "gallery-1 gallery-5 gallery-2"
                    "gallery-1 gallery-7 gallery-4"
                    "gallery-6 gallery-3 gallery-4";
                grid-template-columns: repeat(3, 1fr);
            }
    
            li {
                background-position: center;
                background-size: cover;
            }
    
            #gallery-1 {
                background-image: url("../img/gallery/apron.jpg");
                grid-area: gallery-1;
            }
    
            #gallery-2 {
                background-image: url("../img/gallery/paint-jar.jpg");
    
                @include lg {
                    grid-area: gallery-2;
                }
            }
    
            #gallery-3 {
                background-image: url("../img/gallery/paintbrush-tins.jpg");
                background-position: center top;
                grid-area: gallery-3;
            }
    
            #gallery-4 {
                background-image: url("../img/gallery/painter.jpg");
    
                @include lg {
                    grid-area: gallery-4;
                }
            }
    
            #gallery-5 {
                background-image: url("../img/gallery/portrait-drawing.jpg");
    
                @include md {
                    grid-area: gallery-5;
                }
            }
    
            #gallery-6 {
                background-image: url("../img/gallery/woman-painting.jpg");
                grid-area: gallery-6;
            }
    
            #gallery-7 {
                align-items: center;
                color: $darkgreen;
                display: flex;
                font-family: 'Bebas Neue';
                grid-area: gallery-7;
                justify-content: center;
    
                h1 {
                    font-size: 60px;
    
                    // @include md {
                    //     font-size:70px;
                    // }
                }
            }
        }
    }
}